---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import GmailIcon from '../components/icons/Gmail.astro';
import SocialPill from '../components/icons/SocialPill.astro';
import Experience from '../components/icons/Experience.astro';
import SectionContainer from '../components/icons/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/icons/Projects.astro';
import AboutMeIcon from '../components/icons/Sobre-miIcon.astro';
import AboutMe from '../components/icons/Sobre-mi.astro';
---

<Layout title="Portfolio de Álvaro Aronés" description="">
    <main class="px-4">
        <SectionContainer class="py-44 pb-32">
            <img class="rounded-full size-16 object-cover mb-4" 
            src="profile-photo/FotoPerfil.webp" 
            alt="alvaro photo" />
        <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
            Hey! Soy Álvaro <a
            href="https://www.linkedin.com/in/alvaroaronesolarte/" 
            target="_blank"
            rel="noopener"
             class="flex justify-center items-center">
                <Badge>Disponible para trabajar</Badge>
        </a>
        </h1>
        <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
            <span>Estudiante de Ingeniería Informática en la PUCP.</span>
            <span class="text-yellow-200/90">Con especial interés en la Gestión de Riesgos Tecnológicos, Seguridad de la Información y
            la Continuidad de Negocios.</span>
            <span class="text-red-200/90">De Lima, Perú.</span> 
            <span class="opacity-75">Apasionado en colaborar y trabajar en equipo para lograr el éxito.</span>
        </h2>

        <nav class="flex gap-4 mt-8 flex-wrap">
                <SocialPill href="https://www.linkedin.com/in/alvaroaronesolarte/">
                    <LinkedInIcon class="size-4 lg:size-6" />
                    LinkedIn
                </SocialPill>
                <SocialPill href="mailto:alvaro.arones@pucp.edu.pe">
                    <GmailIcon class="size-4 lg:size-6" />
                    alvaro.arones@pucp.edu.pe
                </SocialPill>
            </nav>
        </SectionContainer>
        <SectionContainer id="experiencia" class="pb-14"> 
            <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
                <Briefcase class="size-7" />
                Experiencia Laboral
            </h2>
            <Experience />
        </SectionContainer>
        <SectionContainer id="proyectos" class="pb-12"> 
            <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
                <CodeIcon class="size-7" />
                Algunos Proyectos en Equipo
            </h2>
            <Projects />
        </SectionContainer>
        <SectionContainer id="sobre-mi" class="pb-11"> 
            <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
                <AboutMeIcon class="size-7" />
                Sobre mí
            </h2>
            <AboutMe />
        </SectionContainer>


    </main>
</Layout>
