<header class="fixed top-0 left-0 w-full z-50 bg-blue bg-opacity-80 shadow-md backdrop-blur-md rounded-b-lg">
    <nav class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto gap-x-10">
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="mailto:alvaro.arones@pucp.edu.pe">Contacto</a>
    </nav>
</header>
