---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
    {
        date: "Enero 2024 a Abril 2025",
        title: "Practicante de Sistemas - Luz del Sur",
        description: "Responsable de las reuniones con clientes relevantes. Mantenimiento de aplicaciones web y de escritorio en .NET usando C# y Visual Basic. Extracción y análisis de información mediante consultas SQL en base de datos Informix."
    },
    {
        date: "Julio 2024 a Enero 2025",
        title: "Coordinador de Transformación Digital y Reclutamiento - Academia Pásalo",
        description: "Responsable de liderar el desarrollo de una página web centrada en la experiencia del usuario para optimizar la calidad del servicio, gestionar el proceso de selección de docentes —incluyendo entrevistas y evaluación de candidatos para los programas— y contribuir al diseño de campañas de marketing digital que incrementaron en un 30% la visibilidad de la academia."    
    },
    {
        date: "Setiembre 2024 a Octubre 2024",
        title: "Integrante del Área de Relaciones Públicas - Infosoft PUCP",
        description: "Responsable de la gestión y recepción de información de las ponencias y de los asistentes vía formularios, facilitando una comunicación clara y estructurada entre los organizadores y los asistentes."

    }
];
---

<ol class="relative border-s border-gray-200 ml-3">   
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }  
</ol>