---
 const personalImageAlt = "Álvaro Aronés"
---

<article class="flex flex-col items-center justify-center gap-8 text-white-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-sm md:text-sm"
  >
    <p>
      ¡Hola! Soy Álvaro Aronés. Durante mi formación he adquirido una base sólida en normas y marcos internacionales 
      <strong>como ISO 27001, ISO 27005, ISO 22301 y el NIST Cybersecurity Framework.</strong
      >
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >ser estudiante destacado en mi escuela y universidad</strong
      >. Así como lograr ubicarme en el top 3 en los cursos orientados a Gestión de Riesgos, Seguridad de la Información
       y Continuidad de Negocios en la PUCP.
    </p>

    <p>
      Formo parte de ISACA como miembro estudiantil, mi objetivo es seguir creciendo en el ámbito de la gestión de riesgos tecnológicos y de la ciberseguridad, <strong
        >aplicando buenas prácticas para crear entornos más seguros, eficientes y sostenibles.</strong>
    </p>
  </div>

  <img width="300" height="300" src="/projects/scrum.webp" alt={personalImageAlt} class="order-1 object-cover w-80 h-80 p-1 md:order-2 rotate-3 lg:p-2 lg:w-80 lg:h-80 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 translate-x-4" style="object-position: 50% 50%">

</article>
